<%# add navigation links to this file %>
<li><%= link_to 'Acerca de', page_path('about') %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Configuración de la Cuenta', users_path %></li>
  <li><%= link_to 'Desconectar', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to 'Usuarios', show_all_path %></li>
  <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
<% else %>
  <li><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
  <li><%= link_to 'Nuevo Usuario', new_user_registration_path %></li>
<% end %>
<%# if user_signed_in? %>
#<li><%#= link_to 'Usuarios', users_path %></li>
<%# end %>
